backend/.env*
!backend/.env.example

.env
.env.*
!.env.example

cache/sentinel2/**
data/cache/
exports/**
qa/**
logs/

node_modules/

*.log
*.sqlite-wal
*.sqlite-shm

__pycache__/
*.py[cod]

.DS_Store
Thumbs.db

data/rasters/planetscope/planetscope_full_aoi_rgbn.tif
data/rasters/indices/NDVI_FULL_AOI.tif
data/rasters/indices/NDWI_FULL_AOI.tif
data/vectors/A7_T_FULL_AOI_POLYGONS_CLEAN.gpkg